<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/edicion.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <div class="container">
        <h1>Edición del perfil</h1>
        <div class="formPut">
          <form action="/users/edit/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <label for="first_name">Nombre</label>
            <input type="text" id="first_name" name="first_name" value="<%= user.first_name %>" required>

            <label for="last_name">Apellidos</label>
            <input type="text" id="last_name" name="last_name" value="<%= user.last_name %>" required>
            <label for="email">Email</label>
            <input type="email" id="" name="email" value="<%= user.email %>" required>

            <!-- revisar para la ruta de huespedes -->
            <!-- if (user.categoria) { 
              <input type="hidden" id="" name="categoria" value="= user.categoria ">
             } else { 
              <input type="hidden" id="" name="categoria" value="valor_por_defecto">
             }  -->

            <label for="image">Imagen del producto</label>
            <input class="formImg" type="file" id="" name="image" multiple accept=".jpg, .jpeg, .png">
            <p class="imgText">Foto de perfil anterior</p>
            <% if (user && user.image) { %>
              <img src="<%= user.image %>" alt="Imagen del producto">
              <% } %>
            <input class="saveButton" type="submit" value="Guardar">
          </form>
        </div>
        <%- include('../partials/footer') %>
      </div>
    </main>
</body>

</html>